# Data Types and Structures

Coding the examples in Chapter 4 in 'Python for Finance'.

We note that in Python 3.x, 1 / 4 gives the float, 0.25 (and not int 0).

a=10
type(a)

In [2]:
a.bit_length()

4

In [3]:
a=9999999
a.bit_length()

24

In [4]:
googol = 10 ** 100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
googol.bit_length()

333

In [6]:
1+4

5

In [7]:
1/4

0.25

In [8]:
type(1/4)

float

In [10]:
1. / 4

0.25

In [11]:
type(1. / 4)

float

In [13]:
b=0.35
type(b)

float

In [14]:
b+0.1

0.44999999999999996

In [15]:
c=0.5
c.as_integer_ratio()

(1, 2)

In [17]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

In [18]:
import decimal
from decimal import Decimal

In [20]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [21]:
d = Decimal(1) / Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [23]:
decimal.getcontext().prec=4

In [24]:
e = Decimal(1) / Decimal(11)
e

Decimal('0.09091')

In [25]:
decimal.getcontext().prec=50

In [26]:
f = Decimal(1) / Decimal(11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [27]:
g = d + e + f
g

Decimal('0.27272818181818181818181818181909090909090909090909')

In [28]:
t = 'this is a string object'

In [29]:
t.capitalize()

'This is a string object'

In [30]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [31]:
t.find('string')

10

In [32]:
t.find('Python')

-1

In [33]:
t.replace(' ', '|')

'this|is|a|string|object'

In [34]:
'http://www.python.org'.strip('htp:/')

'www.python.org'

In [35]:
import re

In [36]:
series = """
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd';
"""

In [37]:
dt = re.compile("'[0-9/:\s]+'")

In [39]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [41]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [43]:
print(pydt)

2014-01-18 13:00:00

In [44]:
print(type(pydt))

<class 'datetime.datetime'>

In [45]:
t=(1, 2.5, 'data')
type(t)

tuple

In [46]:
t = 1, 2.5, 'data'
type(t)

tuple

In [47]:
t[2]

'data'

In [48]:
type(t[2])

str

In [49]:
t.count('data')

1

In [51]:
t.index('data')

2

In [53]:
l=[1, 2.5,'data']
l[2]

'data'

In [65]:
l=list(t)
l

[1, 2.5, 'data']

In [59]:
type(l)

list

In [66]:
l.append([4,3])
l

[1, 2.5, 'data', [4, 3]]

In [67]:
l.extend([1.0, 2.5, 2.0])
l

[1, 2.5, 'data', [4, 3], 1.0, 2.5, 2.0]

In [68]:
l.insert(1, 'insert')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 2.5, 2.0]

In [69]:
l.remove('data') #removes first occurence of object
l

[1, 'insert', 2.5, [4, 3], 1.0, 2.5, 2.0]

In [70]:
p = l.pop(3)
print(l, p)

[1, 'insert', 2.5, 1.0, 2.5, 2.0] [4, 3]

In [71]:
l[2:5] #3rd to 5th elements

[2.5, 1.0, 2.5]

In [72]:
for element in l[2:5]:
    print(element**2)

6.25
1.0
6.25

In [75]:
r = range(0,8,1)
r

range(0, 8)

In [74]:
type(r)

range

In [76]:
for i in range(2,5):
    print(l[i] ** 2)

6.25
1.0
6.25

In [77]:
for i in range(1,10):
    if i% 2 == 0:
        print("%d is even" % i)
    elif i % 3 ==0:
        print("%d is multiple of 3" % i)
    else:
        print("%d is odd" % i)

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

In [79]:
total =0
while total<100:
    total+=1
print(total)

100

In [81]:
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

In [82]:
def f(x):
    return x ** 2
f(2)

4

In [83]:
def even(x):
    return x % 2 == 0
even(3)

False

In [92]:
print(map(even, range(10))) #This examples does not seem to work

<map object at 0x110ec6748>

In [94]:
print(map(lambda x: x**2, range(10))) # this example does not seem to work

<map object at 0x110ec6e10>

In [95]:
filter(even,range(15)) #This example does not seem to work

In [97]:
reduce(lambda x, y: x+y, range(10)) #reduce not defined error

NameError: name 'reduce' is not defined

In [99]:
def cumsum(l):
    total=0
    for elem in l:
        total+=elem
    return total
cumsum(range(10))

45

In [100]:
d = {
    'Name': 'Angela Merkel',
    'Country': 'Germany',
    'Profession': 'Chancelor',
    'Age': 60    
}
type(d)

dict

In [102]:
print(d['Name'], d['Age'])

Angela Merkel 60

In [103]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [104]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 60])

In [105]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 60)])

In [106]:
birthday = True
if birthday is True:
    d['Age'] +=1
print(d['Age'])

61

In [108]:
for item in d.items():
    print(item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancelor')
('Age', 61)

In [110]:
for value in d.values():
    print(value)

Angela Merkel
Germany
Chancelor
61

In [111]:
s=set(['u', 'd', 'ud', 'du', 'd', 'du'])
s

{'d', 'du', 'u', 'ud'}

In [112]:
t=set(['d', 'dd', 'uu', 'u'])

In [113]:
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [115]:
s.intersection(t)

{'d', 'u'}

In [116]:
s.difference(t)

{'du', 'ud'}

In [117]:
t.difference(s)

{'dd', 'uu'}

In [118]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

In [122]:
from random import randint
l=[randint(0,10) for i in range(1000)]
len(l)

1000

In [123]:
l[:20]

[0, 9, 10, 3, 6, 4, 2, 5, 5, 3, 8, 10, 5, 5, 0, 5, 2, 4, 0, 5]

In [124]:
s = set(l)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}