# DataFrame Examples

In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.DataFrame([10,20,30,40], columns=['numbers'], index=['a', 'b', 'c', 'd'])
df

   numbers
a       10
b       20
c       30
d       40

In [55]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [56]:
df.columns

Index(['numbers'], dtype='object')

In [57]:
df.ix['c']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

numbers    30
Name: c, dtype: int64

In [58]:
df.ix[['a', 'd']]

   numbers
a       10
d       40

In [59]:
df.sum()

numbers    100
dtype: int64

In [60]:
df.apply(lambda x: x**2)

   numbers
a      100
b      400
c      900
d     1600

In [61]:
df ** 2

   numbers
a      100
b      400
c      900
d     1600

In [62]:
df['floats'] = (1.5, 2.5, 3.5, 4.5)
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [63]:
df['floats']

a    1.5
b    2.5
c    3.5
d    4.5
Name: floats, dtype: float64

In [64]:
df['names'] = pd.DataFrame(['Yves', 'Guido', 'Felix', 'Francesc'], index=['d', 'a', 'b', 'c'])
df

   numbers  floats     names
a       10     1.5     Guido
b       20     2.5     Felix
c       30     3.5  Francesc
d       40     4.5      Yves

In [65]:
df=df.append(pd.DataFrame({'numbers': 100, 'floats': 5.75, 'names': 'Henry'}, index=['z',]))
df

   floats     names  numbers
a    1.50     Guido       10
b    2.50     Felix       20
c    3.50  Francesc       30
d    4.50      Yves       40
z    5.75     Henry      100

In [66]:
df=df.join(pd.DataFrame([1,4,9,16,25], index=['a', 'b', 'c', 'd', 'y'], columns=['squares',]), how='outer')
df

   floats     names  numbers  squares
a    1.50     Guido     10.0      1.0
b    2.50     Felix     20.0      4.0
c    3.50  Francesc     30.0      9.0
d    4.50      Yves     40.0     16.0
y     NaN       NaN      NaN     25.0
z    5.75     Henry    100.0      NaN

In [68]:
df[['numbers', 'squares']].mean()

numbers    40.0
squares    11.0
dtype: float64

In [69]:
df[['numbers', 'squares']].std()

numbers    35.355339
squares     9.669540
dtype: float64